.ManchaRosa {
    display: none;
  }
  @media (min-width: 575.98px) {
    .ManchaRosa {
      display: inline;
      width: 10rem;
    }
  }

  .ManchaRosa {
    width: 10rem;
  }
  @media (min-width: 991.98px) {
    .ManchaRosa {
      width: 20rem;
      margin-left: -100px;
    }
  } 
/*----------------------------------------*/
  .PajaroAzul {
    width: 3rem;
      
  }
  @media (min-width: 575.98px) {
    .PajaroAzul {
      width: 6rem;
      margin-left: -8rem;
    }
  }

  .PajaroAzul {
    width: 6rem;
    margin-left: -8rem;
  }
  @media (min-width: 991.98px) {
    .PajaroAzul {
      width: 11rem;
      margin-left: -150px;
      margin-top: -40px;
    }
}

/*-------------------------------------------------*/


.Titulo {
    font-size: 3rem;
    color: #e0a387;
    text-align: center;  
      
  }
  @media (min-width: 575.98px) {
    .Titulo {
        font-size: 4rem;
        color: #e0a387;
        
    }
  }

  .Titulo {
      font-size: 4rem;
      color: #e0a387;
      
  }
  @media (min-width: 991.98px) {
    .Titulo {
      font-size: 5rem;
      color: #e0a387;
      display: flex;
      justify-content: center;
    }
}

/*----------------------------------------*/

.Titulo{
    margin-top: -5rem;
}

p{
    font-size: 2.3rem;
    color: #a2b2c4;
    display: flex;
    text-align: center;  
    margin: 0% 15% 0% 22%;
    line-height: 40px;
    margin-bottom: 5rem;
}

.PajaroAzul {
  width: 11rem;
  margin-left: -150px;
  margin-top: 35rem;
}

.ManchaRosa {
  width: 20rem;
  margin-left: -100px;
  margin-top: 30rem;
}