

.Contenedores{
      display: flex;
      justify-content: space-evenly;
      margin-top: 2rem;
      
}

.Contenedor{
    width: 15rem;
    height: 15rem;  
  }
.Contenedor:hover{
    transform: scale(1.1);
}
.Figura{
    margin-top: 13%;
    margin-left: 20%;
}

h6{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: #a2b2c4;
}