
.Bloque{
    margin-top: 6rem;
    margin-left: 2rem;
    width: 40rem;
    
}
.Datos{
    display: flex;
    margin-left: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 40rem;
}
 
.Log{
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 1rem;
    margin-top: -0.9rem;
    
}

.Log:hover{
    transform: scale(1.2);
}


.Info{
    font-size: 2rem;
    margin-left:1.4rem;
    margin-top: 1rem;
    padding-top: 0.5rem;
    color: #aabed5;
    width: 20rem;
    display: inline;
    
}

.Info:hover{
    text-decoration: underline;
    transform: scale(1.05);
}

.ContenedorRedesyFormulario{
    display: flex;
}

a{
    text-decoration-line: none;
    display: inline;
    
}

span{
    width: 30rem;
    
}


