
.tp1{
    width: 40rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
    
}

.tp2{
    width: 30rem; 
    margin-left: -9rem; 
    margin-top: 2rem;
}

.tp3{
    width: 40rem;
    margin-left: 30rem;
    
}

.cajas{
    display: flex;
    justify-content: space-evenly;
}
