
.Tp1{
    width: 40rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
    
}

.Tp2{
    width: 30rem; 
    margin-left: -9rem; 
    margin-top: 2rem;
}

.Tp3{
    width: 40rem;
    margin-left: 30rem;
    
}

.Cajas{
    display: flex;
    justify-content: space-evenly;
}
